body{
    font-size: 25px;
    color:rgb(255, 255, 255);
    background-image: url("imagenes/back-e1499456899315.jpeg");
    background-size: cover;
}
.header{
    text-align: center;
    margin: 20px 0px;
}
#titulo-principal{
    color: yellow;
    text-shadow: 1px 2px 10px black;
}
.link{
    margin: auto;
    color: yellow;
    text-shadow:1px 2px 5px greenyellow;
    text-decoration: none;
}
.link:hover{
    color: red;
}

.titulos{
    color: rgb(59, 214, 162);
    text-shadow: 1px 2px 5px black;
}
a[href="http://www.uno.edu.ar/"],
a[href="https://www.instagram.com/tinoelzurdito/"]
{
color: #ebf07d;
text-shadow: 1px 2px 10px greenyellow;
text-decoration: none;
font-weight: bold;
}
a[href="http://www.uno.edu.ar/"]:hover{
    color: red;
}
a[href="https://www.instagram.com/tinoelzurdito/"]:hover{
    color: red;
}
#navegador{
    background-image: url("imagenes/header.png");

}