body {
  font-size: 25px;
  font-family:'Playfair Display', serif;
  background-image: url("back-e1499456899315.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: white;
}

.contenedor-principal{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: column;
}

.header {
  border: 2px solid black;
  border-radius: 20px;
  color: #67e17f;
  text-align: center;
  
  align-items: center;
  background: url("gato.png") center right 200px /100px  no-repeat;
  margin-bottom: 20px;
}
.navegador{
  border: 2px solid black;
  border-radius: 20px;
  width: 200px;
  height: auto;
  padding: 30px;
  font-size: 20px;
  margin-bottom: 20px;
}
.contenedor-historia{
  border: 2px solid black;
  border-radius: 20px;
  padding: 15px;
  margin-bottom: 20px;
}

.contenedor-trayectoria{
  border: 2px solid black;
  border-radius: 20px;
  padding: 15px;
  margin-bottom: 20px;
  display: inline;
}

.contenedor-imagen{
  text-align: center;
  margin-bottom: 20px;
}

.contenedor-hobbies{
  border: 2px solid black;
  border-radius: 20px;
  padding: 20px;
  margin-bottom: 20px;
}

.contenedor-contacto{
  border: 2px solid black;
  border-radius: 20px;
  padding: 20px;
}
.titulos {
  color: #67e17f;
}

.link {
  color: #ebf07d;
  text-decoration: none;
}

a[href="http://www.uno.edu.ar/"],
a[href="https://www.instagram.com/tinoelzurdito/"]
{
  color: #ebf07d;
  text-decoration: none;
  font-weight: bold;
}




